body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(56, 56, 56);
}
/* grid 960px */

a:link, a:visited{
    color: rgb(73, 73, 73);
    text-decoration: none;
    font-size: 18;
}
a:hover{
    text-decoration: underline;
    color:rgb(138, 30, 210, 1);
}
.modo-escuro{
    display: flex;
}
.txt-modo-escuro{
    font-size: 18px;
    color: white;
}
#img-config{
    width: 50px;
}
#img-config:hover{
    transform:  rotate(360deg);
    transition: 0.4s;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#link{
    opacity: 0%;
}

.consulta{
    width: 450px;
    height: 45px;
    font-size: 20px;
    border-radius: 40px;
    border-color: rgb(255, 255, 255);
    outline: none;
    text-align: center;
    border-style: solid;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
}

.consulta:hover{
    border-color: rgb(34, 34, 34);
}
.consulta:focus{
    border-color: rgb(204, 204, 204);
}
.btn-pesquisar{
    width: 120px;
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-style: solid;
    background-color: blue;
    font-size: 17px;
    outline: none;
}
.btn-pesquisar:hover{
    color: blue;
    background-color: white;
    border-color: rgb(204, 204, 204);
    cursor: pointer;
    outline: none;
}
#meuTextoVaiAqui{
    font-size: 20px;
    color: rgb(2, 170, 2);
    font-weight: bold;
}

#meuTextoVaiAqui:hover{
    color: rgb(4, 134, 4);
}

#meuTextoVaiAqui-erro{
    font-size: 20px;
    color: rgb(247, 63, 87);
    font-weight: bold;
}
#meuTextoVaiAqui-erro-2{
    font-size: 20px;
    color: rgb(247, 63, 87);
    font-weight: bold;
}
#copiado{
    font-size: 18px;
    color: rgb(2, 170, 2);
    font-size: 20px;
    transition: ease-in;
}
.btn-copy{
    width: 120px;
    color: rgb(52, 179, 2);
    border-color: rgb(59, 190, 7);
    border-radius: 30px;
    border-style: solid;  
    background-color: rgb(54, 54, 54);
    font-size: 20px;
    outline: none;
    padding: 5px;
}

.btn-copy:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(59, 190, 7);
    cursor: pointer;
    outline: none;
}
.btn-limpar{
    width: 120px;
    color: rgb(247, 63, 87);
    border-radius: 30px;
    border-style: solid;
    background-color: rgb(54, 54, 54);
    border-color: rgb(247, 63, 87);
    font-size: 20px;
    outline: none;
    padding: 5px;
}

.btn-limpar:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(247, 63, 87);
    cursor: pointer;
    outline: none;
}
.creditos{
    font-size: 18px;
    opacity: 95%;
    color: white;
}

#box-home{
    margin: 0;
}

.atualizacao {
    font-size: 14px;
    opacity: 50%;
    color: white;
}