body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
/* grid 960px */

a:link, a:visited{
    color: rgb(73, 73, 73);
    text-decoration: none;
    font-size: 18;
}
a:hover{
    text-decoration: underline;
    color:rgb(138, 30, 210, 1);
}

.linha{
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;

}
.coluna{
    padding: 0 10px;
    float: left;
}
.col1{
    width: 60px;
}
.col2{
    width: 140px;
}
.col3{
    width: 220px;
}
.col4{
    width: 300px;
}
.col5{
    width: 380px;
}
.col6{
    width: 460px;
}
.col7{
    width: 540px;
}
.col8{
    width: 620px;
}
.col9{
    width: 700px;
}
.col10{
    width: 780px;
}
.col11{
    width: 860px;
}
.col12{
    width: 940px;
}

.img-logo{
    width: 40px;
    margin-top: 0px;
    margin-right: 5px;
}
.img-logo:hover{
    cursor: pointer;
    opacity: 70%;
}
.logo{
    color: blue;
    margin-left: 25%;
    font-size: 450%;
    margin-top: 17%;
}
.logo:hover{  
    color: rgb(0, 192, 80);
    transition: 2s;
}
#link{
    opacity: 0%;
}
.base-consulta{
    
}
.consulta{
    width: 600px;
    height: 45px;
    font-size: 20px;
    border-radius: 40px;
    border-color: blue;
    outline: none;
    text-align: center;
    border-style: solid;
    color: blue;
    margin-left: 15%;
    margin-top: 0%;
}

.consulta:hover{
    border-color: rgb(204, 204, 204);
}
.btn-pesquisar{
    width: 120px;
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-style: solid;
    background-color: blue;
    font-size: 17px;
    margin-left: 10px;
    outline: none;

}
.btn-pesquisar:hover{
    color: blue;
    background-color: white;
    border-color: rgb(204, 204, 204);
    cursor: pointer;
    outline: none;
}
#meuTextoVaiAqui{
    font-size: 25px;
    color: rgb(2, 170, 2);
    margin-left: 35.5%;
    font-weight: bold;
    margin-top: 0%;
}
#meuTextoVaiAqui:hover{
    color: rgb(0, 126, 0);
}
#meuTextoVaiAqui-2{
    font-size: 25px;
    color: rgb(2, 170, 2);
    margin-left: 37.5%;
    font-weight: bold;
    margin-top: 0%;
}
#meuTextoVaiAqui-2:hover{
    color: rgb(0, 126, 0);
}
#meuTextoVaiAqui-erro{
    font-size: 25px;
    color: rgb(247, 63, 87);
    margin-left: 33%;
    font-weight: bold;
    margin-top: 0%;
}
#meuTextoVaiAqui-erro-2{
    font-size: 25px;
    color: rgb(247, 63, 87);
    margin-left: 31%;
    font-weight: bold;
    margin-top: 0%;
}
#copiado{
    font-size: 18px;
    color: rgb(2, 170, 2);
    margin-left: 42.5%;
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 20px;
    transition: ease-in;
}
.btn-copy{
    width: 160px;
    height: 45px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border-style: solid;  
    background-color: rgb(59, 194, 5);
    font-size: 20px;
    margin-left: 30%;
    outline: none;
    margin-top: 3%;
}
.btn-copy:hover{
    color: rgb(36, 126, 1);
    background-color: white;
    border-color: rgb(204, 204, 204);
    cursor: pointer;
    outline: none;
}
.btn-limpar{
    width: 160px;
    height: 45px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border-style: solid;
    background-color: rgb(247, 63, 87);
    font-size: 20px;
    margin-left: 2%;
    outline: none;
    margin-top: 3%;
}
.btn-limpar:hover{
    color: rgb(210, 30, 60);
    background-color: white;
    border-color: rgb(204, 204, 204);
    cursor: pointer;
    outline: none;
}
.creditos{
    margin-left: 30%;
    margin-top: 15%;
    font-size: 18px;
    opacity: 75%;

}
